<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                           http://xmlns.jcp.org/xml/ns/javaee/beans_2_0.xsd"
       bean-discovery-mode="all">

    <!-- 1. Activate our Alternative
    <alternatives>
        <class>com.example.psk.service.AlternativeExampleService</class>
    </alternatives>-->

    <!-- 2. Enable our Interceptor-->
    <interceptors>
        <class>com.example.psk.interceptor.LoggingInterceptor</class>
    </interceptors>

    <!-- 3. Enable our Decorator-->
    <decorators>
        <class>com.example.psk.decorator.ExampleDecorator</class>
    </decorators>

</beans>
